.grupo1{
    padding-top: 3%;
    color: #282b31;
    font-family: $textoIndex;
    text-align: center;

    h4{
        font-size: 200%;
    }

    hr{
        width: 50%;
        margin: auto;
    }
    .gridGrupo1{
        display: flex;
        margin-top: 2%;
        margin-left: 15%;
        margin-right: 15%;
    
        p{
            padding: 1%;
        }
        a{
            position: absolute;
            right: 25%;
            left: 25%;
            bottom: 2%;
        }
    }
}

.grupo2{
    padding-top: 3%;
    font-family: $textoIndex;
    text-align: center;

    h4{
        font-size: 200%;
    }

    hr{
        width: 50%;
        margin: auto;
    }
    .gridGrupo2{
        display: flex;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 2%;

        h5{
            font-size: 130%;
        }
    
        p{
            padding: 1%;
        }
        a{
            position: absolute;
            right: 25%;
            left: 25%;
            bottom: 2%;
        }
    }

    .flexGrupo2{
        display: flex;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 2%;

        h5{
            font-size: 130%;
        }
    
        p{
            padding: 1%;
        }
        a{
            position: absolute;
            right: 25%;
            left: 25%;
            bottom: 2%;
        }
    }
}
   
.grupo3{
    padding-top: 3%;
    font-family: $textoIndex;
    text-align: center;

    h4{
        font-size: 200%;
    }

    hr{
        width: 50%;
        margin: auto;
    }
    .gridGrupo3{
        display: flex;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 2%;

        h5{
            font-size: 130%;
        }
    
        p{
            padding: 1%;
        }
        a{
            position: absolute;
            right: 25%;
            left: 25%;
            bottom: 2%;
        }

    }        

    .flexGrupo3{
        display: flex;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 2%;

        h5{
            font-size: 130%;
        }
    
        p{
            padding: 1%;
        }
        a{
            position: absolute;
            right: 25%;
            left: 25%;
            bottom: 2%;
        }
    }
}