.staff{
    box-sizing: border-box;
    padding: 25%;
    background: linear-gradient(rgba(14, 12, 12, 0.35), rgba(10, 1, 1, 0.651)), url(../img/nosotros.jpg) no-repeat center/cover;
    background-attachment: fixed;

    .titulo{
        color: white;
        text-align: center;
        font-size: 180%;
        font-family: $textoIndex;
    }
}

.staff{
    box-sizing: border-box;
    padding: 25%;
    background: linear-gradient(rgba(14, 12, 12, 0.35), rgba(10, 1, 1, 0.651)), url(../img/nosotros.jpg) no-repeat center/cover;
    background-attachment: fixed;

    .titulo{
        color: white;
        text-align: center;
        font-size: 180%;
        font-family: $textoIndex;
    }
}