body{
    padding: 0px;
    margin: 0px;
}

header{
    .logoPrincipal{
        width: 40% ;
        margin: 4%;

    }
    background-image: url(../img/portadaTop.png);
    background-size: cover;
    background-position: 1%;
}
