.line{
        width: 60%;
        margin: auto;
        padding-top: 1%;
    
    h2{
        padding-top: 1%;
        padding: 2%;
        font-family: $textoIndex;
        text-align: center;
        font-size: 240%;
    }

    h3{
        font-family: $textoIndex;
        text-align: center;
        font-size: 200%;
        padding-top: 1%;
    }
}